body{
    font-family: "Comic Sans MS",sans-serif;
}
h3{
    text-align: center;
}
#form-div{
    width: 25%;
    background-color: lightgray;
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;

}
form{
    margin: 30px auto;
}
.textinput{
    border-radius: 10px;
    height: 28px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 95%;
}
.textinput:focus{
    outline: none;
}
.btn{
    background-color: blue;
    color: white;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
}