body{
    font-family: "Comic Sans MS",sans-serif;
    margin: 0;
}

h2{
    background-color: lightgreen;
    padding: 5px;
    text-align: center;
}
section{
    background-color: black;
    text-align: center;

}
div{
    padding: 20px;
}
h1{
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0 0 10px black;
}